/* line 1, ../scss/ie8.scss */
html {
  font-size: 100%;
}

/* line 5, ../scss/ie8.scss */
.primary-navigation {
  clear: both;
}

/* line 9, ../scss/ie8.scss */
.page-header h1:before, .no-svg .page-header h1:before {
  background: none;
}

/* line 13, ../scss/ie8.scss */
#post-15 label {
  display: none;
}
