@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Arapey:400italic,400|Open+Sans:400italic,700italic,400,700|Petit+Formal+Script);
/* line 55, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* line 94, ../scss/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 139, ../scss/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 192, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 210, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 229, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 239, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 263, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 278, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 289, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 341, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 350, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 377, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 405, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 418, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 428, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 443, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 454, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 464, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 476, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 487, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* REMs */
/* line 95, ../scss/_modules.scss */
.primary-navigation > ul:after, .social-menu:after, .home-banner-navigation ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 103, ../scss/_modules.scss */
* html .primary-navigation > ul, * html .social-menu, * html .home-banner-navigation ul, .home-banner-navigation * html ul {
  zoom: 1;
}

/* IE6 */
/* line 104, ../scss/_modules.scss */
*:first-child + html .primary-navigation > ul, *:first-child + html .social-menu, *:first-child + html .home-banner-navigation ul, .home-banner-navigation *:first-child + html ul {
  zoom: 1;
}

/* IE7 */
/* line 118, ../scss/_modules.scss */
.site-title, .home .page-header h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 152, ../scss/_modules.scss */
.site-title, .page-header, .page-header h1:before, .home .page-header h1 {
  -ms-behavior: url(/wp-content/themes/lakeshore/backgroundsize.min.htc);
}

/* line 39, ../scss/main.scss */
#site-header, #page-content, #page-footer {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#site-header:after, #page-content:after, #page-footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 39em) {
  /* line 39, ../scss/main.scss */
  #site-header, #page-content, #page-footer {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #site-header:after, #page-content:after, #page-footer:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 59em) {
  /* line 39, ../scss/main.scss */
  #site-header, #page-content, #page-footer {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #site-header:after, #page-content:after, #page-footer:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 77, ../scss/main.scss */
.social-menu, .page-header, .home-banner-navigation {
  box-sizing: content-box;
  margin-left: -5.55556%;
  margin-right: -5.55556%;
  padding-left: 5.55556%;
  padding-right: 5.55556%;
}
@media (min-width: 39em) {
  /* line 77, ../scss/main.scss */
  .social-menu, .page-header, .home-banner-navigation {
    margin-left: -12.5%;
    margin-right: -12.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

@font-face {
  font-family: 'lakeshore-icons';
  src: url('../fonts/lakeshore-icons.eot');
  src: url('../fonts/lakeshore-icons.eot?#iefix') format("embedded-opentype"), url('../fonts/lakeshore-icons.woff') format("woff"), url('../fonts/lakeshore-icons.ttf') format("truetype"), url('../fonts/lakeshore-icons.svg#lakeshore-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 164, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 169, ../scss/main.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* line 174, ../scss/main.scss */
html {
  font-size: 50%;
  background-color: #211620;
}

@media (min-width: 39em) {
  /* line 180, ../scss/main.scss */
  html {
    font-size: 62.5%;
  }
}
/* line 185, ../scss/main.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "Open Sans";
  color: #c9c1e0;
}

/* line 191, ../scss/main.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .primary-navigation a, .social-menu a {
  color: inherit;
  text-decoration: none;
}

/* line 196, ../scss/main.scss */
h1, h2, h3, h4, h5, h6, .primary-navigation, .social-menu {
  font-family: "Arapey";
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/* line 212, ../scss/main.scss */
h3, h4, h5 {
  color: #c9c1e0;
}

/* line 218, ../scss/main.scss */
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 48px;
  line-height: 4.8rem;
  margin-top: 24px;
  margin-top: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

/* line 219, ../scss/main.scss */
h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 36px;
  line-height: 3.6rem;
  margin-top: 24px;
  margin-top: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

/* line 220, ../scss/main.scss */
h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-top: 24px;
  margin-top: 2.4rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

/* line 221, ../scss/main.scss */
h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
}

/* line 222, ../scss/main.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
}

/* line 223, ../scss/main.scss */
h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
}

/* line 225, ../scss/main.scss */
a {
  color: #c9c1e0;
  text-decoration: underline;
}
/* line 229, ../scss/main.scss */
a:hover {
  text-decoration: none;
}

/* line 234, ../scss/main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 240, ../scss/main.scss */
input:not([type=submit]):not([type=file]), textarea, input[type="submit"] {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-top: 24px;
  margin-top: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  padding: 12px;
  padding: 1.2rem;
  border: none;
  border-radius: 2px;
  border-radius: 0.2rem;
}

/* line 248, ../scss/main.scss */
#page-footer h3, .home-banner-navigation .services h2, .home-banner-navigation .meet-the-staff h2, .home-banner-navigation .contact-us h2, .page-id-7 .cosmetic h2, .page-id-7 .reconstructive h2, .page-id-7 .nonsurgical h2, #post-11 h2, #post-13 h2 a {
  border-bottom: 1px solid rgba(201, 193, 224, 0.5);
  padding-bottom: 11.0px;
  padding-bottom: 1.1rem;
  position: relative;
}
/* line 253, ../scss/main.scss */
#page-footer h3:after, .home-banner-navigation .services h2:after, .home-banner-navigation .meet-the-staff h2:after, .home-banner-navigation .contact-us h2:after, .page-id-7 .cosmetic h2:after, .page-id-7 .reconstructive h2:after, .page-id-7 .nonsurgical h2:after, #post-11 h2:after, #post-13 h2 a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(33, 22, 32, 0.5);
  position: absolute;
  bottom: -2px;
}

/* line 264, ../scss/main.scss */
.primary-navigation ul, .social-menu ul, .home-banner-navigation ul, .page-id-7 .cosmetic ul, .page-id-7 .reconstructive ul, .page-id-7 .nonsurgical ul {
  list-style: none;
  padding-left: 0;
}

/* line 287, ../scss/main.scss */
p {
  margin-top: 12px;
  margin-top: 1.2rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

/* line 291, ../scss/main.scss */
ul {
  margin-top: 12px;
  margin-top: 1.2rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}
/* line 294, ../scss/main.scss */
li > ul {
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/* line 305, ../scss/main.scss */
.site-title, .site-tagline {
  margin: 0;
  color: #c9c1e0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
  line-height: 60px;
  line-height: 6rem;
  position: relative;
  bottom: 1px;
  bottom: 0.1rem;
}
@media (min-width: 59em) {
  /* line 305, ../scss/main.scss */
  .site-title, .site-tagline {
    margin-bottom: -12px;
    margin-bottom: -1.2rem;
  }
}

/* line 318, ../scss/main.scss */
.site-title {
  float: left;
  height: 60px;
  height: 6rem;
  width: 60px;
  width: 6rem;
  margin-right: 0.5em;
  background: url('../img/logo-swan.svg?1381346637');
  background-size: contain;
}
/* line 128, ../scss/_modules.scss */
.no-svg .site-title {
  background: url('../img/logo-swan.png?1381125400');
}
/* line 329, ../scss/main.scss */
.site-title a {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 336, ../scss/main.scss */
.site-tagline {
  float: left;
  font-family: "Petit Formal Script";
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  margin-left: 0.8em;
  quotes: "“" "”" "‘" "’";
}
/* line 346, ../scss/main.scss */
.site-tagline:before, .site-tagline:after {
  position: absolute;
  top: 0em;
}
/* line 351, ../scss/main.scss */
.site-tagline:before {
  content: open-quote;
  left: -0.1em;
}
/* line 356, ../scss/main.scss */
.site-tagline:after {
  content: close-quote;
  right: -0.1em;
}
@media (min-width: 59em) and (max-width: 78.812em) {
  /* line 336, ../scss/main.scss */
  .site-tagline {
    display: none;
  }
}
@media (max-width: 30em) {
  /* line 336, ../scss/main.scss */
  .site-tagline {
    display: none;
  }
}

/* line 376, ../scss/main.scss */
.primary-navigation {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
}
/* line 380, ../scss/main.scss */
.primary-navigation ul {
  margin: 0;
}
/* line 384, ../scss/main.scss */
.primary-navigation ul li {
  display: block;
  position: relative;
  white-space: nowrap;
}
/* line 389, ../scss/main.scss */
.primary-navigation ul li a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 403, ../scss/main.scss */
.primary-navigation ul ul li {
  background: #211620;
  color: #c9c1e0;
}

/* line 414, ../scss/main.scss */
#nav-toggle {
  display: none;
  float: right;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 12px;
  margin-top: 1.2rem;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 36px;
  line-height: 3.6rem;
}
/* line 424, ../scss/main.scss */
#nav-toggle span {
  display: hidden;
}
/* line 123, ../scss/main.scss */
#nav-toggle:before {
  content: "\e006";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 39em) {
  /* line 414, ../scss/main.scss */
  #nav-toggle {
    right: 10%;
  }
}

@media (min-width: 59em) {
  /* line 440, ../scss/main.scss */
  .primary-navigation ul li {
    font-size: 16px;
    font-size: 1.6rem;
  }
  /* line 443, ../scss/main.scss */
  .primary-navigation ul li a {
    padding-left: 1em;
    padding-right: 1em;
    height: 60px;
    height: 6rem;
  }
  /* line 449, ../scss/main.scss */
  .primary-navigation ul li.current_page_item > a, .primary-navigation ul li > .active, .primary-navigation ul li:hover > a {
    background: #c9c1e0;
    color: #211620;
  }
  /* line 456, ../scss/main.scss */
  .primary-navigation > ul {
    text-align: right;
    position: relative;
    left: 1em;
    float: right;
  }
  /* line 462, ../scss/main.scss */
  .primary-navigation > ul > li {
    display: inline-block;
    float: left;
  }
  /* line 464, ../scss/main.scss */
  .primary-navigation > ul > li > a {
    padding-bottom: 12px;
    padding-bottom: 1.2rem;
    padding-top: 12px;
    padding-top: 1.2rem;
    line-height: 36px;
    line-height: 3.6rem;
    text-align: left;
  }
  /* line 475, ../scss/main.scss */
  .primary-navigation ul ul {
    position: absolute;
    opacity: 0;
    top: -500px;
    left: 0;
  }
  /* line 481, ../scss/main.scss */
  .primary-navigation ul ul li {
    display: block;
    clear: both;
    text-align: left;
    line-height: 36px;
    line-height: 3.6rem;
    background: #211620;
    color: #c9c1e0;
  }
  /* line 492, ../scss/main.scss */
  .primary-navigation > ul > li:hover > ul {
    opacity: 1;
    top: 100%;
    z-index: 100;
  }
}
@media (max-width: 59em) {
  /* line 503, ../scss/main.scss */
  .primary-navigation {
    box-sizing: content-box;
    margin-left: -5.55556%;
    margin-right: -5.55556%;
    padding-left: 5.55556%;
    padding-right: 5.55556%;
    position: relative;
    overflow-y: hidden;
    clear: both;
    max-height: 600px;
    -webkit-transition: max-height 200ms ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition: max-height 200ms ease-in-out 0;
    -o-transition: max-height 200ms ease-in-out 0;
    transition: max-height 200ms ease-in-out 0;
  }
  /* line 516, ../scss/main.scss */
  .primary-navigation ul li a {
    box-sizing: content-box;
    margin-left: -5.55556%;
    margin-right: -5.55556%;
    padding-left: 5.55556%;
    padding-right: 5.55556%;
    padding-top: 12px;
    padding-top: 1.2rem;
    padding-bottom: 12px;
    padding-bottom: 1.2rem;
  }
  /* line 522, ../scss/main.scss */
  .primary-navigation ul li.current_page_item > a, .primary-navigation ul li:hover > a:hover {
    background: #c9c1e0;
    color: #211620;
  }
  /* line 529, ../scss/main.scss */
  .primary-navigation > ul {
    margin-top: 24px;
    margin-top: 2.4rem;
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
  }
  /* line 534, ../scss/main.scss */
  .primary-navigation ul ul li {
    text-indent: 2em;
  }
  /* line 539, ../scss/main.scss */
  .primary-navigation.closed {
    max-height: 0;
  }

  /* line 544, ../scss/main.scss */
  #nav-toggle {
    display: block;
  }
}
@media (max-width: 59em) and (min-width: 39em) {
  /* line 503, ../scss/main.scss */
  .primary-navigation {
    margin-left: -12.5%;
    margin-right: -12.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
@media (max-width: 59em) and (min-width: 39em) {
  /* line 516, ../scss/main.scss */
  .primary-navigation ul li a {
    margin-left: -12.5%;
    margin-right: -12.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
/* line 553, ../scss/main.scss */
.primary-navigation > ul > .social {
  display: none;
}
@media (min-width: 59em) {
  /* line 553, ../scss/main.scss */
  .primary-navigation > ul > .social {
    display: inline-block;
  }
}
/* line 123, ../scss/main.scss */
.primary-navigation > ul > .social > a:before {
  content: "\e007";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 36px;
  line-height: 3.6rem;
}
/* line 566, ../scss/main.scss */
.primary-navigation > ul > .social > a span {
  display: none;
}

/* line 573, ../scss/main.scss */
.preload .social-menu:not(.no-js *) {
  height: 0;
}

/* line 577, ../scss/main.scss */
.social-menu {
  display: block;
  background: #c9c1e0;
  color: #211620;
  clear: both;
  overflow: hidden;
  -webkit-transition: height 200ms ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: height 200ms ease-in-out 0;
  -o-transition: height 200ms ease-in-out 0;
  transition: height 200ms ease-in-out 0;
  height: 72px;
  height: 7.2rem;
}
@media (min-width: 59em) {
  /* line 590, ../scss/main.scss */
  .social-menu.closed {
    height: 0;
  }
}
/* line 595, ../scss/main.scss */
.social-menu ul {
  text-align: center;
  margin: 0;
  position: relative;
  left: -0.3em;
}
@media (min-width: 59em) {
  /* line 595, ../scss/main.scss */
  .social-menu ul {
    text-align: right;
    left: 1em;
  }
}
/* line 608, ../scss/main.scss */
.social-menu ul li {
  display: inline-block;
  position: relative;
}
/* line 612, ../scss/main.scss */
.social-menu ul li a {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 12px;
  padding-top: 1.2rem;
  padding-bottom: 12px;
  padding-bottom: 1.2rem;
  height: 72px;
  height: 7.2rem;
  text-align: center;
}
/* line 622, ../scss/main.scss */
.social-menu ul li a:hover {
  color: #c9c1e0;
  background: #211620;
}
@media (max-width: 68.562em) {
  /* line 628, ../scss/main.scss */
  .social-menu ul li a span {
    display: none;
  }
}
/* line 123, ../scss/main.scss */
.social-menu ul .facebook a:before {
  content: "\e003";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 123, ../scss/main.scss */
.social-menu ul .googleplus a:before {
  content: "\e004";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 123, ../scss/main.scss */
.social-menu ul .linkedin a:before {
  content: "\e005";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 648, ../scss/main.scss */
.social-menu ul .facebook a:before, .social-menu ul .googleplus a:before, .social-menu ul .linkedin a:before {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 48px;
  line-height: 4.8rem;
  padding-right: 0.2em;
}

/* line 666, ../scss/main.scss */
#page-footer {
  padding-top: 24px;
  padding-top: 2.4rem;
  padding-bottom: 24px;
  padding-bottom: 2.4rem;
}
/* line 670, ../scss/main.scss */
#page-footer .contact-box {
  text-align: center;
  width: 100%;
  clear: both;
}
/* line 676, ../scss/main.scss */
#page-footer .wrapper {
  display: inline-block;
  text-align: center;
}
/* line 685, ../scss/main.scss */
#page-footer .phone {
  margin-bottom: 0;
}
/* line 689, ../scss/main.scss */
#page-footer .address {
  margin-top: 0;
}
/* line 693, ../scss/main.scss */
#page-footer .logos {
  opacity: 0.5;
  text-align: center;
}
/* line 697, ../scss/main.scss */
#page-footer .logos img {
  display: inline-block;
}

/* line 707, ../scss/main.scss */
.page-header {
  margin-top: 0;
  overflow: hidden;
  padding-top: 168px;
  padding-top: 16.8rem;
  padding-bottom: 24px;
  padding-bottom: 2.4rem;
  background: url('../img/banner-top.jpg?1381125399');
  background-size: cover;
  background-position: top center;
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
}
/* line 721, ../scss/main.scss */
.page-header h1 {
  margin: 0;
  text-align: right;
  color: #211620;
  position: relative;
  float: right;
}
/* line 728, ../scss/main.scss */
.page-header h1:before {
  content: "";
  position: absolute;
  height: 144px;
  height: 14.4rem;
  width: 144px;
  width: 14.4rem;
  top: -144px;
  top: -14.4rem;
  margin-right: -72px;
  margin-right: -7.2rem;
  right: 50%;
  background: url('../img/logo-full.svg?1381346637');
  background-size: contain;
  background-position: center;
}
/* line 128, ../scss/_modules.scss */
.no-svg .page-header h1:before {
  background: url('../img/logo-full.png?1381125400');
}

@media (min-width: 59em) {
  /* line 747, ../scss/main.scss */
  #post-11, #post-15, #post-13 {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 8.47458%;
  }
}

@media (min-width: 39em) {
  /* line 756, ../scss/main.scss */
  #post-9 > section:nth-child(odd) {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 760, ../scss/main.scss */
  #post-9 > section:nth-child(even) {
    width: 48.71795%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 59em) {
  /* line 766, ../scss/main.scss */
  #post-9 > section:nth-child(odd) {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 8.47458%;
  }
  /* line 771, ../scss/main.scss */
  #post-9 > section:nth-child(even) {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 16.94915%;
  }
}

/* line 783, ../scss/main.scss */
.home .page-header {
  padding-top: 24px;
  padding-top: 2.4rem;
  height: 240px;
  height: 24rem;
  margin-bottom: 0;
}
@media (min-width: 39em) {
  /* line 783, ../scss/main.scss */
  .home .page-header {
    height: 336px;
    height: 33.6rem;
  }
}
/* line 793, ../scss/main.scss */
.home .page-header h1 {
  height: 90%;
  margin: 0 auto;
  margin-top: 1.2rem;
  background: url('../img/logo-full.svg?1381346637');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  float: none;
  text-align: left;
  color: white;
}
/* line 128, ../scss/_modules.scss */
.no-svg .home .page-header h1 {
  background: url('../img/logo-full.png?1381125400');
}
/* line 811, ../scss/main.scss */
.home .page-header h1:before {
  content: none;
}

/* line 818, ../scss/main.scss */
.home-banner-navigation {
  overflow: hidden;
  padding-bottom: 24px;
  padding-bottom: 2.4rem;
}
@media (min-width: 59em) {
  /* line 818, ../scss/main.scss */
  .home-banner-navigation {
    background: url('../img/banner-bottom.jpg?1381125399');
    background-size: cover;
    background-position: top center;
  }
}
/* line 829, ../scss/main.scss */
.home-banner-navigation ul {
  margin: 0;
}
@media (min-width: 59em) {
  /* line 835, ../scss/main.scss */
  .home-banner-navigation li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 184, ../../../../../../../.rvm/gems/ruby-1.9.3-p374/gems/susy-1.0.8/sass/susy/_grid.scss */
  .home-banner-navigation li:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
/* line 843, ../scss/main.scss */
.home-banner-navigation .services h2, .home-banner-navigation .meet-the-staff h2, .home-banner-navigation .contact-us h2 {
  text-align: center;
}
/* line 847, ../scss/main.scss */
.home-banner-navigation .services h2:before, .home-banner-navigation .meet-the-staff h2:before, .home-banner-navigation .contact-us h2:before {
  display: block;
  font-size: 60px;
  font-size: 6rem;
  line-height: 72px;
  line-height: 7.2rem;
}
/* line 123, ../scss/main.scss */
.home-banner-navigation .services h2:before {
  content: "\e001";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 123, ../scss/main.scss */
.home-banner-navigation .meet-the-staff h2:before {
  content: "\e002";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 123, ../scss/main.scss */
.home-banner-navigation .contact-us h2:before {
  content: "\e000";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 876, ../scss/main.scss */
#post-9 .keener img, #post-9 .russ img {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
/* line 882, ../scss/main.scss */
#post-9 .keener h2, #post-9 .russ h2 {
  margin-top: 0;
  padding: 0 0.2em;
  color: #211620;
  background: #c9c1e0;
  text-align: center;
}

/* line 905, ../scss/main.scss */
.page-id-7 .cosmetic ul li, .page-id-7 .reconstructive ul li, .page-id-7 .nonsurgical ul li {
  text-indent: -1em;
  padding-left: 1em;
}
@media (min-width: 59em) {
  /* line 913, ../scss/main.scss */
  .page-id-7 .cosmetic, .page-id-7 .reconstructive {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 917, ../scss/main.scss */
  .page-id-7 .nonsurgical {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 921, ../scss/main.scss */
  .page-id-7 .cosmetic, .page-id-7 .reconstructive, .page-id-7 .nonsurgical {
    text-align: center;
  }
  /* line 924, ../scss/main.scss */
  .page-id-7 .cosmetic ul li, .page-id-7 .reconstructive ul li, .page-id-7 .nonsurgical ul li {
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
    text-indent: 0;
    padding-left: 0;
  }
}

/* line 943, ../scss/main.scss */
#post-11 .gallery {
  margin: 0 auto;
  max-width: 1000px;
  max-width: 100rem;
}

/* line 956, ../scss/main.scss */
#post-15 input:focus {
  outline: none;
}
/* line 960, ../scss/main.scss */
#post-15 input[name="name"], #post-15 input[name="email"], #post-15 input[name="message"], #post-15 textarea {
  display: block;
  width: 100%;
}
/* line 965, ../scss/main.scss */
#post-15 label {
  display: none;
}
/* line 969, ../scss/main.scss */
#post-15 input[name="submit"] {
  display: block;
  background: #5f8b66;
  color: white;
}
/* line 974, ../scss/main.scss */
#post-15 input[name="submit"]:hover {
  background: #79a480;
}
/* line 979, ../scss/main.scss */
#post-15 .error {
  background: #ce8192;
}
/* line 136, ../scss/_modules.scss */
#post-15 .error.placeholder {
  color: #3a161e;
}
/* line 137, ../scss/_modules.scss */
#post-15 .error:-moz-placeholder {
  color: #3a161e;
}
/* line 138, ../scss/_modules.scss */
#post-15 .error::-moz-placeholder {
  color: #3a161e;
}
/* line 139, ../scss/_modules.scss */
#post-15 .error:-ms-input-placeholder {
  color: #3a161e;
}
/* line 140, ../scss/_modules.scss */
#post-15 .error::-webkit-input-placeholder {
  color: #3a161e;
}

/* line 995, ../scss/main.scss */
#post-13 h2 {
  text-align: center;
}
/* line 123, ../scss/main.scss */
#post-13 h2 a:before {
  content: "\e008";
  font-family: "lakeshore-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.6em;
}
