//  ===========
//  = Modules =
//  ===========
//  Use for mixins, functions, and placeholders


/* REMs */

// Remove units to return a unitless number
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Converts input into rems
// Only accepts px and rem, for now
// Use base 10 in conjunction with html {font-size: 62.5%;}
$rem-base: 10;
@function rem($input) {
  @if unit($input) == rem {
    @return $input;
  } @else if unit($input) == px {
    @return strip-units($input / $rem-base) * 1rem;
  } @else {
    @return $input;
  }
}

// Converts rems to px
@function rem-to-px($input) {
    @if unit($input) == rem {
    @return strip-units($input * $rem-base) * 1px;
    } @else {
    @return $input;
    }
    
}

// Output attribute and value in rems with pixel fallback
// Accepts px and rem
@mixin rem($attr, $input) {
  @if unit($input) == px {
    #{$attr}: $input;
    #{$attr}: rem($input);
  }
  @if unit($input) == rem {
    #{$attr}: rem-to-px($input);
    #{$attr}: $input;
  }
}


// Vertical rhythm
// Opinionated replacement for Compass's vertical rhythm module
// Will abandon once Compass has full support for rems
@function rhythm($lines: 1, $offset: 0rem) {
  @return $lines * rem($base-line-height) - rem($offset);
}

@mixin rhythm-height($lines: 1, $offset: 0rem) {
  @include rem(height, rhythm($lines, $offset));
}

@mixin leader($lines: 1, $offset: 0rem) {
  @include rem(margin-top, rhythm($lines, $offset));
}

@mixin trailer($lines: 1, $offset: 0rem) {
  @include rem(margin-bottom, rhythm($lines, $offset));
}

@mixin rhythm($leader, $trailer: $leader) {
  @include leader($leader);
  @include trailer($trailer);
}

$round-to-nearest-line: 1;
$min-line-padding: 0.2rem;
@function lines-for-font-size($font-size, $round-to-nearest-line: $round-to-nearest-line) {
  $font-size: rem($font-size);
  $lines: ceil( $font-size / ( rem($base-line-height) * $round-to-nearest-line ) ) * $round-to-nearest-line;
  @if $lines * rem($base-line-height) - $font-size < $min-line-padding * 2 {
    $lines: $lines + $round-to-nearest-line;
  }
  @return $lines;
}

@mixin font-size($font-size, $round-to-nearest-line: $round-to-nearest-line) {
  @include rem(font-size, $font-size);
  @include rem(line-height, lines-for-font-size($font-size) * $base-line-height);
}


// Clearfix placeholder
// Better than using a mixin, obvi
%clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html %clearfix             { zoom: 1; } /* IE6 */
*:first-child+html %clearfix { zoom: 1; } /* IE7 */

// Placeholders
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Use in conjunction with Modernizr
@mixin svg-background($name, $fallback: png) {
  background: image-url("#{$name}.svg");

  .no-svg & {
    background: image-url("#{$name}.#{$fallback}");
  }
}

// Use to style placeholders
// (Here "placeholders" refers form text input placeholders, not Sass placeholders)
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

// Returns selector for texty form fields
@function texty-form-fields() {
  @return 'input:not([type=submit]):not([type=file]), textarea';
}

@mixin background-size-polyfill {
  -ms-behavior: url(/wp-content/themes/lakeshore/backgroundsize.min.htc);
}

%background-size-polyfill {
  @include background-size-polyfill;
}