@import "normalize";
@import "compass/css3";
@import "susy";
@import "modules";

$base-font-size: 16px;
$base-line-height: 24px;

//  ======================
//  = Layout/Breakpoints =
//  ======================
//  We're taking a mobile-first, progressive enhancement approach
//  Default layout is intended for narrow screen widths
//  Use breakpoints to add more columns and complex layouts

$total-columns: 6; // Mobile-first
$column-width:  4em;
$gutter-width:  1em;
$grid-padding:  5%;

$container-style: fluid;

$mid-cols: 8;
$full-cols: 12;

// Progressive breakpoints
// Use to add additional styles -- [min, infinity)
$mid-break: $mid-cols;
$full-break: $full-cols;

$not-full: 0 columns($full-cols, $full-cols, static);
$no-tag: columns($full-cols, $full-cols, static) 78.812em;
$no-tag-small: 0 30em;
$hide-social-labels: 0 68.562em;

// Set to true to debug grid
$show-susy-background: false;

#site-header, #page-content, #page-footer {
  @include container;

  @if $show-susy-background { @include susy-grid-background; }

  @include at-breakpoint($mid-break) {
    $grid-padding: 10%;
    @include container;

    @if $show-susy-background { @include susy-grid-background; }
  }

  @include at-breakpoint($full-break) {
    @include container;

    @if $show-susy-background { @include susy-grid-background; }
  }
}


@mixin full-width-content {
  $bleed: percentage(5% / (100% - (2 * 5%)));
  $bleed-mid: percentage(10% / (100% - (2 * 10%)));
  box-sizing: content-box;

  margin-left: -$bleed;
  margin-right: -$bleed;
  padding-left: $bleed;
  padding-right: $bleed;

  @include at-breakpoint($mid-break) {
    margin-left: -$bleed-mid;
    margin-right: -$bleed-mid;
    padding-left: $bleed-mid;
    padding-right: $bleed-mid;
  }
}

%full-width-content {
  @include full-width-content;
}

//  =========
//  = Fonts =
//  =========

// Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Arapey:400italic,400|Open+Sans:400italic,700italic,400,700|Petit+Formal+Script);

$arapey: 'Arapey';
$open-sans: 'Open Sans';
$petit: 'Petit Formal Script';


// Icon font (generated by IcoMoon web app)
@font-face {
  font-family: 'lakeshore-icons';
  src:font-url('lakeshore-icons.eot');
  src:font-url('lakeshore-icons.eot?#iefix') format('embedded-opentype'),
    font-url('lakeshore-icons.woff') format('woff'),
    font-url('lakeshore-icons.ttf') format('truetype'),
    font-url('lakeshore-icons.svg#lakeshore-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$lakeshore-icons: 'lakeshore-icons';


@mixin icon($type, $hide-text: false) {
  $unicode: "";

  @if       $type == contact    { $unicode: "\e000"; }
  @else if  $type == services   { $unicode: "\e001"; }
  @else if  $type == staff      { $unicode: "\e002"; }
  @else if  $type == facebook   { $unicode: "\e003"; }
  @else if  $type == googleplus { $unicode: "\e004"; }
  @else if  $type == linkedin   { $unicode: "\e005"; }
  @else if  $type == hamburger  { $unicode: "\e006"; }
  @else if  $type == action     { $unicode: "\e007"; }
  @else if  $type == file       { $unicode: "\e008"; }

  @if $hide-text { @extend %hide-text; }

  &:before {
    content: $unicode;
    font-family: $lakeshore-icons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    @if $hide-text { position: absolute; }

    @content;
  }
}


$body-font: $open-sans;
$header-font: $arapey;

//  ==========
//  = Colors =
//  ==========
$dark-purple:   #211620;
$light-purple:  #C9C1E0;
$red:           #CE8192;
$green:         #5F8B66;

$background-color: $dark-purple;
$text-color: $light-purple;
$header-color: white;
$link-color: $text-color;

//  =================================
//  = Base styles and configuration =
//  =================================

// Round to nearest half-line
$round-to-nearest-line: 0.5;

// Change default box-sizing for elements to border-box. Woo hoo!
* {
  box-sizing: border-box;
}

// Prevent transitions on page load
.preload * {
  @include experimental(transition, none !important);
}

// At small widths, rem base should be slightly smaller to shrink text
html {
  font-size: 50%;
  background-color: $background-color;
}

@include at-breakpoint($mid-break) {
  html {
    font-size: 62.5%; // Set up base 10 rem system
  }
}

body {
  @include font-size($base-font-size);
  font-family: $body-font;
  color: $text-color;
}

%header-link-style {
  color: inherit;
  text-decoration: none;
}

%header-font-style {
  font-family: $header-font;
  color: $header-color;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

#{headings()} {
  @extend %header-font-style;

  a {
    @extend %header-link-style;
  }
}

h3, h4, h5 {
  color: $text-color;
}

$h1-size: 32px; $h2-size: 24px; $h3-size: 18px; $h4-size: 16px; $h5-size: 16px; $h6-size: 16px; 

h1 { @include font-size($h1-size);   @include rhythm(1); }
h2 { @include font-size($h2-size);   @include rhythm(1); }
h3 { @include font-size($h3-size);   @include rhythm(1, 1/2); }
h4 { @include font-size($h4-size); }
h5 { @include font-size($h5-size); }
h6 { @include font-size($h6-size); }

a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Text inputs
#{texty-form-fields()}, input[type="submit"] {
  @include font-size($base-font-size);
  @include rhythm(1);
  @include rem(padding, rhythm(1/2));
  border: none;
  @include rem(border-radius, 2px);
}

%double-bottom-border {
  border-bottom: 1px solid transparentize($light-purple, 0.5);
  @include rem(padding-bottom, rhythm(1/2) - rem(1px));
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparentize($dark-purple, 0.5);
    position: absolute;
    bottom: -2px;
  }
}

%list-style-none {
  list-style: none;
  padding-left: 0;
}

//  ===================
//  = Vertical Rhythm =
//  ===================
//  Adjustments to height, line-height, top/bottom margins, etc. that affect vertical rhythm


// Set to true to debug vertical rhythm
$show-baseline-grid: false;

@if $show-baseline-grid {
  body {
    @include background-image(linear-gradient(transparentize(white, 0.8) 1px, transparent 1px));
    background-size: 100% (rem($base-line-height) / 2);
  }
}



p {
  @include rhythm(1/2);
}

ul {
  @include rhythm(1/2);

  li > & {
    @include rhythm(0);
  }
}

//  ==========
//  = Header =
//  ==========

$top-navigation-height: rhythm(2.5);

.site-title, .site-tagline {
  margin: 0;
  color: $text-color;
  @include font-size($h3-size);
  @include rem(line-height, $top-navigation-height);
  position: relative;
  @include rem(bottom, 1px);

  @include at-breakpoint($full-break) {
   @include rem(margin-bottom, rhythm(-0.5));
  }
}

.site-title {
  @extend %hide-text;
  float: left;
  @include rem(height, $top-navigation-height);
  @include rem(width, $top-navigation-height);
  margin-right: 0.5em;

  @include svg-background("logo-swan");
  background-size: contain;
  @extend %background-size-polyfill;

  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.site-tagline {
  float: left;
  font-family: $petit;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  margin-left: 0.8em;

  quotes: "“" "”" "‘" "’";

  &:before, &:after {
    position: absolute;
    top: 0em;
  }

  &:before {
    content: open-quote;
    left: -0.1em;
  }

  &:after {
    content: close-quote;
    right: -0.1em;
  }

  @include at-breakpoint($no-tag) {
    display: none;
  }

  @include at-breakpoint($no-tag-small) {
    display: none;
  }
}


//  ==============
//  = Navigation =
//  ==============

// All breakpoints
.primary-navigation {
  @extend %header-font-style;
  @include font-size($h4-size);

  ul { // Applies to every list in nav hierarchy
    @extend %list-style-none;
    margin: 0;

    li {
      display: block;
      position: relative;
      white-space: nowrap;

      a {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
      }
    }
  }

  > ul { // Top list only
    @extend %clearfix;
  }

  ul ul { // All but top-most list
    li {
      background: $dark-purple;
      color: $light-purple;
    }
  }

  a {
    @extend %header-link-style;
  }
}

#nav-toggle {
  display: none;
  float: right;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  @include leader(1/2);
  @include font-size($h2-size);

  span {
    display: hidden;
  }

  @include icon(hamburger);

  @include at-breakpoint($mid-break) {
    right: 10%;
  }
}


// Full-size only
@include at-breakpoint($full-break) {
  .primary-navigation {   
    ul { // Applies to every list in nav hierarchy
      li {
        @include rem(font-size, $h4-size);

        a {  
          padding-left: 1em;
          padding-right: 1em;
          @include rem(height, rhythm(5/2));
        }

        &.current_page_item > a, > .active, &:hover > a {
          background: $light-purple;
          color: $dark-purple;
        }
      }
    }

    > ul { // Top list only
      text-align: right;
      position: relative;
      left: 1em;
      float: right;

      > li {
        display: inline-block;
        > a {
          @include rem(padding-bottom, rhythm(1/2));
          @include rem(padding-top, rhythm(1/2));
          @include rem(line-height, rhythm(3/2));
          text-align: left;
        }

        float: left;
      }
    }

    ul ul { // All but top-most list
      position: absolute;
      opacity: 0;
      top: -500px;
      left: 0;

      li {
        display: block;
        clear: both;
        text-align: left;
        @include rem(line-height, rhythm(3/2));
        background: $dark-purple;
        color: $light-purple;
      }
    }

    > ul > li:hover {
      > ul { // Show sub list when hovering
        opacity: 1;
        top: 100%;
        z-index: 100;
      }
    }
  }
}

// Everything but full-size
@include at-breakpoint($not-full) {
  .primary-navigation {
    @include full-width-content;
    position: relative;

    overflow-y: hidden;
    clear: both;

    max-height: 600px;
    @include single-transition(max-height, 200ms, ease-in-out, 0);

    ul { // Applies to every list in nav hierarchy
      li {

        a {
          @include full-width-content;
          @include rem(padding-top, rhythm(1/2));
          @include rem(padding-bottom, rhythm(1/2));
        }

        &.current_page_item > a, &:hover > a:hover {
          background: $light-purple;
          color: $dark-purple;
        }
      }
    }

    > ul { // Top list only
      @include rhythm(1);
    }

    ul ul { // All but top-most list
      li {
        text-indent: 2em;
      }
    }

    &.closed {
      max-height: 0;
    }
  }

  #nav-toggle {
    display: block;
  }
}


//  ===============
//  = Social menu =
//  ===============
.primary-navigation > ul > .social {
  display: none;

  @include at-breakpoint($full-break) {
    display: inline-block;
  }

    > a {
      @include icon(action) {
        @include rem(font-size, $h2-size);
        @include rem(line-height, rhythm(3/2));
      }

      span {
        display: none;
      }
    }
}


.preload .social-menu:not(.no-js *) {
  height: 0;
}

.social-menu {
  display: block;
  @extend %full-width-content;
  @extend %clearfix;
  background: $light-purple;
  color: $dark-purple;
  clear: both;

  overflow: hidden;
  @include single-transition(height, 200ms, ease-in-out, 0);
  @include rhythm-height(3);

  @include at-breakpoint($full-break) {
    &.closed {
      height: 0;
    }
  }

  ul { 
    @extend %list-style-none;
    text-align: center;
    margin: 0;
    position: relative;

    left: -0.3em;

    @include at-breakpoint($full-break) {
      text-align: right;
      left: 1em;
    }

    li {
      display: inline-block;
      position: relative;

      a {
        display: block;
        padding-left: 1em;
        padding-right: 1em;
        @include rem(padding-top, rhythm(1/2));
        @include rem(padding-bottom, rhythm(1/2));
        @include rem(line-height, 3/2);
        @include rhythm-height(3);
        text-align: center;

        &:hover {
          color: $light-purple;
          background: $dark-purple;
        }

        @include at-breakpoint($hide-social-labels) {
          span {
            display: none;            
          }
        }
      }
    }

    .facebook a {
      @include icon(facebook);
    }

    .googleplus a {
      @include icon(googleplus);
    }

    .linkedin a {
      @include icon(linkedin);
    }

    .facebook, .googleplus, .linkedin {
      a:before {
        @include font-size($h1-size);
        padding-right: 0.2em;
      }
    }
  }

  @extend %header-font-style;
  a {
    @extend %header-link-style;
  }
}


//  ==========
//  = Footer =
//  ==========

#page-footer {
  @include rem(padding-top, rhythm(1));
  @include rem(padding-bottom, rhythm(1));
  
  .contact-box {
    text-align: center;
    width: 100%;
    clear: both;
  }

  .wrapper {
    display: inline-block;
    text-align: center;
  }

  h3 {
    @extend %double-bottom-border;
  }

  .phone {
    margin-bottom: 0;
  }

  .address {
    margin-top: 0;
  }

  .logos {
    opacity: 0.5;
    text-align: center;

    img {
      display: inline-block;
    }
  }
}

//  =========
//  = Pages =
//  =========

.page-header {
  @extend %full-width-content;
  margin-top: 0;
  overflow: hidden;
  @include rem(padding-top, rhythm(7));
  @include rem(padding-bottom, rhythm(1));

  background: image-url("banner-top.jpg");
  background-size: cover;
  @extend %background-size-polyfill;
  background-position: top center;

  @include trailer(2);

  h1 {
    margin: 0;
    text-align: right;
    color: $dark-purple;
    position: relative;
    float: right;

    &:before {
      content: "";
      position: absolute;
      @include rem(height, rhythm(6));
      @include rem(width, rhythm(6));
      @include rem(top, -1 * rhythm(6));
      @include rem(margin-right, -1 * rhythm(3));      
      right: 50%;

      //background: image-url("logo-full.svg");
      @include svg-background("logo-full");

      background-size: contain;
      @extend %background-size-polyfill;
      background-position: center;
    }
  }
}

%one-column-content {
  @include at-breakpoint($full-break) {
    @include span-columns(10, $full-cols);
    @include pre(1, $full-cols);
  }
}

%two-column-content {
  @include at-breakpoint($mid-break) {
    > section:nth-child(odd) {
      @include span-columns(4, $mid-cols);
    }

    > section:nth-child(even) {
      @include span-columns(4 omega, $mid-cols);
    } 
  }

  @include at-breakpoint($full-break) {
    > section:nth-child(odd) {
      @include span-columns(4, $full-cols);
      @include pre(1, $full-cols);
    }

    > section:nth-child(even) {
      @include span-columns(4, $full-cols);
      @include pre(2, $full-cols);
    }
  }
}

//  =============
//  = Home page =
//  =============

.home {
  .page-header {    
    @include rem(padding-top, rhythm(1));
    @include rem(height, rhythm(10));

    @include at-breakpoint($mid-break) {
      @include rem(height, rhythm(14));      
    }

    margin-bottom: 0;

    h1 {
      @extend %hide-text;

      height: 90%;

      margin: 0 auto;
      margin-top: rhythm(1/2);
      // background: image-url("logo-full.svg");
      @include svg-background("logo-full");
      background-size: contain;
      @extend %background-size-polyfill;
      background-repeat: no-repeat;
      background-position: center center;
      float: none;

      text-align: left;
      color: $header-color;

      &:before {
        content: none;
      }
    }
  }
}

.home-banner-navigation {
  @extend %full-width-content;
  overflow: hidden;
  @include rem(padding-bottom, rhythm(1));

  @include at-breakpoint($full-break) {
    background: image-url("banner-bottom.jpg");
    background-size: cover;
    background-position: top center;
  }

  ul {
    @extend %clearfix;
    @extend %list-style-none;
    margin: 0;
  }

  li {
    @include at-breakpoint($full-break) {
      @include span-columns(4, 12);
      @include nth-omega(3n);
    }
  }

  .services, .meet-the-staff, .contact-us {
    h2 {
      text-align: center;
      @extend %double-bottom-border;

      &:before {
        display: block;
        @include font-size(60px);
      }
    }
  }

  .services h2 {
    @include icon(services);
  }

  .meet-the-staff h2 {
    @include icon(staff);
  }

  .contact-us h2 {
    @include icon(contact);
  }
}


//  ==============
//  = Staff Page =
//  ==============

#post-9 {
  @extend %two-column-content;

  .keener, .russ {
    img {
      display: block;
      width: 100%;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      padding: 0 0.2em;
      color: $dark-purple;
      background: $light-purple;
      text-align: center;
    }
  }
}

//  =================
//  = Services Page =
//  =================

.page-id-7 {
  .cosmetic, .reconstructive, .nonsurgical {
    h2 {
      @extend %double-bottom-border;
    }

    ul {
      @extend %list-style-none;

      li {
        text-indent: -1em;
        padding-left: 1em;
      }
    }
  }

  @include at-breakpoint($full-break) {
    .cosmetic, .reconstructive {
      @include span-columns(4, $full-cols);
    }

    .nonsurgical {
      @include span-columns(4 omega, $full-cols);
    }

    .cosmetic, .reconstructive, .nonsurgical {
      text-align: center;

      ul li {
        @include trailer(1/2);
        text-indent: 0;
        padding-left: 0;
      }
    }
  }
}

//  ================
//  = Gallery Page =
//  ================

#post-11 {
  @extend %one-column-content;
  h2 {
    @extend %double-bottom-border;
  }

  .gallery {
    margin: 0 auto;
    @include rem(max-width, 1000px);
  }
}

//  ================
//  = Contact Page =
//  ================

#post-15 {
  @extend %one-column-content;
  
  input:focus {
    outline:none;
  }

  input[name="name"], input[name="email"], input[name="message"], textarea,  {
    display: block;
    width: 100%;
  }

  label {
    display: none;
  }

  input[name="submit"] {
    display: block;
    background: $green;
    color: white;

    &:hover {
      background: lighten($green, 10%);
    }
  }

  .error {
    background: $red;

    @include input-placeholder {
      color: darken($red, 50%);
    }
  }
}

//  ==============
//  = Forms Page =
//  ==============

#post-13 {
  @extend %one-column-content;

  h2 {
    text-align: center;
      a {
        @extend %double-bottom-border;

        @include icon(file) {
          margin-right: 0.6em;
        }
      }
  }
}