{% include 'html-header.twig' %}  
{% block head %}
{% endblock %}  
</head>
  <body class="{{body_class}} preload">
    <div class="page-wrap">
      <header id="site-header" >
            {% block header %}
              <h1 class="site-title">
                <a href="{{ bloginfo('url') }}" title="{{ bloginfo('name') }}" rel="home">{{ bloginfo('name') }}</a>
              </h1>
              <h2 class="site-tagline">
                <a href="{{ bloginfo('url') }}">{{ bloginfo('description') }}</a>
              </h2>
    
              {% include 'primary-navigation.twig' %}
            {% endblock %}
          </header>
    
    
          <section id="page-content" role="main">

            {% block page_header %}
            
            {% if title %}
            <header class="page-header">
              <h1>{{title}}</h1>
            </header>
            {% endif %}

            {% endblock %}

            {% block content %}
              Sorry, no content
            {% endblock %}

          </section>
    </div>
    <footer id="page-footer">
      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
    </footer>
    {{ wp_footer }}
  </body>
</html>