<section class="contact-box">
<div class="wrapper">
  <h3>Please call for an appointment</h3>
  <p class="phone">352.755.6676</p>
  <p class="address">
    263 SW Professional Glen<br/>
    Lake City, FL 32025
  </p>
  <p class="email">mkplastixmd@gmail.com</p>
</div>
</section>

{{ footer.widgets }}

<section class="logos">
  <img src="{{ img_dir }}/allergan.svg">
  <img src="{{ img_dir }}/dysport.svg">
  <img src="{{ img_dir }}/perlane.svg">
  <img src="{{ img_dir }}/botox.svg">
  <img src="{{ img_dir }}/juvederm.svg">
  <img src="{{ img_dir }}/restylane.svg">
  <img src="{{ img_dir }}/mentor.svg">
</section>