<nav class="primary-navigation" role="navigation">
  <ul>
    {% for item in header.menu.get_items %}
      <li class="{{ item.class }}"><a href="{{item.url}}" target="{{item.target}}">{{item.title}}</a>
      {% if item.get_children %}
        <ul>
        {% for child in item.get_children %}
          <li class="{{ child.class }}"><a href="{{child.url}}" target="{{child.target}}">{{child.title}}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    <li class="social"><a href="#"><span>Social</span></a></li>
  </ul>

  <nav class="social-menu">
    <ul>
      {% for item in header.social_menu.get_items %}
        <li class="{{ item.class }}"><a href="{{item.url}}" target="{{item.target}}"><span>{{item.title}}</span></a>
      {% endfor %}
    </ul>
  </nav>
</nav>